 <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Kontakt
            </h4>
            <div class="contact_link_box">
              <a href="https://maps.app.goo.gl/4UkcSdUmk4kGa2sXA">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Standort
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Telefonnummer: +491712092844
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  arturpavluchenko000@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              Ammersee Bike Hub
            </a>
            <p>
              Folgen Sie uns in sozialen Netzwerken!
            </p>
            <div class="footer_social">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-tiktok" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            Öffnungszeiten
          <p>
            Montag bis Sonntag
          </p>
          <p>
            10:00 bis 18:00
          </p>
        </div>
      </div>
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> Alle Rechte vorbehalten
        </p>
      </div>
    </div>
  </footer>